<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card>
        <ion-card-content>
            <ion-card-title>ionic Todo App</ion-card-title>
            <br/>
            <div>Simplest ionic Todo App for testing and demo purposes on Aleri Plenum 07.09.2018</div>
            <div>Build with ionic v4 Beta: https://beta.ionicframework.com/</div>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <div class="card-title">Test Title</div>
        <div class="card-subtitle">Test Subtitle </div>
    </ion-card>
</ion-content>
